<h1/>IT Academy</h1>

<a href="/lectures/add">Add a new lecture</a>
<h2>List of courses</h2>
<button onclick="window.location.href='/cart/'">See your cart</button>
<button onclick="window.location.href='/login/'">Login</button>



<table id="lectures">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Price</th>
			<th>Start</th>
			<th>End</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% lectures.forEach((lecture, index)=>{ %>
			<tr>
				<td><%= lecture.idlecture %></td>
				<td><%= lecture.name %></td>
				<td><%= lecture.price %></td>
				<td><%= lecture.startDate.getMonth()+ "-" +lecture.startDate.getDate()+ "-" +lecture.startDate.getFullYear() %></td>
				<td><%= lecture.endDate.getMonth()+ "-" +lecture.endDate.getDate()+ "-" +lecture.endDate.getFullYear() %></td>
				<td>
					<a href="/lectures/addToCart/:<%= lecture.idlecture %>">Register</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>