<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>

<h1/>IT Academy</h1>

<h2>Cart</h2>
<button onclick="window.location.href='/cart/finish'">Finalise order</button>
<button onclick="window.location.href='/lectures/'">Back to courses list</button>



<table id="cart">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Price</th>
			<th>Start</th>
			<th>End</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% lectures.forEach((lecture, index)=>{ %>
			<tr>
				<td><%= lecture.idlecture %></td>
				<td><%= lecture.name %></td>
				<td><%= lecture.price %></td>
				<td><%= lecture.startDate.getMonth()+ "-" +lecture.startDate.getDate()+ "-" +lecture.startDate.getFullYear() %></td>
				<td><%= lecture.endDate.getMonth()+ "-" +lecture.endDate.getDate()+ "-" +lecture.endDate.getFullYear() %></td>
				<td>
					<button onclick="window.location.href='/cart/remove/<%= lecture.idlecture %>'">Remove</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>